Kopia zapasowa/main.html
Kopia zapasowa/scripts.js
Kopia zapasowa/skills.html
Kopia zapasowa/styles.css
Kopia zapasowa/Portfolio final Patryk Kwiatkowski/main.html
Kopia zapasowa/Portfolio final Patryk Kwiatkowski/scripts.js
Kopia zapasowa/Portfolio final Patryk Kwiatkowski/skills.html
Kopia zapasowa/Portfolio final Patryk Kwiatkowski/styles.css
Kopia zapasowa/Portfolio final Patryk Kwiatkowski/pictures/bugDOWN.png
Kopia zapasowa/Portfolio final Patryk Kwiatkowski/pictures/bugUP.png
Kopia zapasowa/Portfolio final Patryk Kwiatkowski/pictures/chevrons-down-regular-120.png
Kopia zapasowa/Portfolio final Patryk Kwiatkowski/pictures/download-regular-48.png
Kopia zapasowa/Portfolio final Patryk Kwiatkowski/pictures/github-logo-48.png
Kopia zapasowa/Portfolio final Patryk Kwiatkowski/pictures/IT.jpg
Kopia zapasowa/Portfolio final Patryk Kwiatkowski/pictures/IT2.svg
Kopia zapasowa/Portfolio final Patryk Kwiatkowski/pictures/linkedin-square-logo-48.png
Kopia zapasowa/Portfolio final Patryk Kwiatkowski/pictures/PortraitMain.png
Kopia zapasowa/Portfolio final Patryk Kwiatkowski/pictures/socials.svg
Kopia zapasowa/pictures/bugDOWN.png
Kopia zapasowa/pictures/bugUP.png
Kopia zapasowa/pictures/chevrons-down-regular-120.png
Kopia zapasowa/pictures/download-regular-48.png
Kopia zapasowa/pictures/github-logo-48.png
Kopia zapasowa/pictures/IT.jpg
Kopia zapasowa/pictures/IT2.svg
Kopia zapasowa/pictures/linkedin-square-logo-48.png
Kopia zapasowa/pictures/PortraitMain.png
Kopia zapasowa/pictures/socials.svg
Testowe/index.html
Testowe/script.js
Testowe/skills.html
Testowe/styles.css
Testowe/pictures/bugDOWN.png
Testowe/pictures/bugUP.png
Testowe/pictures/chevrons-down-regular-120.png
Testowe/pictures/download-regular-48.png
Testowe/pictures/github-logo-48.png
Testowe/pictures/IT.jpg
Testowe/pictures/IT2.svg
Testowe/pictures/linkedin-square-logo-48.png
Testowe/pictures/PortraitMain.png
Testowe/pictures/socials.svg
Testowe/scripts.js
