body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 200vh; /* Adjust the height based on your content */
}

.lorem {
    display: flex;
    width: 20px;
}

#scroll-arrow {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s;
}

#scroll-arrow.hide {
    opacity: 0;
    pointer-events: none;
}

#arrow {
    margin: 0 auto;
    animation: 2s bounce infinite;
    animation-timing-function:ease-in-out ;
}

@keyframes bounce {
    0% {
      transform: translateY(0px)
    }
    50%
    {
      transform: translateY(15px);
    }
    100%
    {
      transform: translateY(0px);
    }
  }